@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Unna&display=swap');

// Temp Stuff
.Temp {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .TempFloofyLogo {
        width: 30%;
        margin-bottom: 3rem;
    }

    h2 {
        font-family: 'Ubuntu', sans-serif;
        font-size: 3rem;
        color: #fff;
    }
}

// General Styling
* {
    padding: 0;
    margin: 0;
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: #2C2F33;
}
.hidden {
    position: absolute;
    top: -1000px;
}