@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #2C2F33;
}

h1 {
    position:absolute;
    top:-10000px;
}

h2 {
    padding-top: 2rem;
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
    white-space: nowrap;
    text-decoration: none;
    color: #fff;
}


@layer components {
    .sidebar-logo {
        @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto shadow-lg transition-all duration-300 ease-linear;
    }

    .sidebar-icon {
        @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto shadow-lg bg-gray-800 text-purple-500 hover:bg-purple-600 hover:text-white rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear;
    }

    .sidebar-tooltip {
        @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-gray-900 text-xs font-bold transition-all duration-100 scale-0 origin-left;
    }
}